.popup__payment-type {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3;
  color: #9397cb;
  cursor: pointer;
}

.popup__payment-type_active {
  color: #5a3f98;
  margin-bottom: 4px;
}
