@import url('./media/help-button__media.css');

.help-button {
  width: 160px;
  height: 40px;
  background-color: transparent;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: bold;
  color: #fc691b;
  border: 2px solid #fc691b;
  border-radius: 4px;
  box-sizing: border-box;
  text-transform: uppercase;
  cursor: pointer;
}

.help-button:hover {
  color: #ffffff;
  background-color: #fc691b;
}

.help-button:active {
  color: #000;
}
