@import url('./slider-remote/slider-remote.css');
@import url('./__img/slider__img.css');
@import url('./__navigation/slider-remote__navigation.css');

.slider{
  max-width: 720px;
  display: flex;
  flex-direction: column;
}