.popup__sum-radio {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.01;
  z-index: 100;
  cursor: pointer;
}

.popup__sum-radio:checked + label {
  background-color: #fc691b;
  color: #ffffff;
}
