.footer__social-item {
  display: inline-block;
  margin-right: 24px;
}

.footer__social-item:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .footer__social-item {
    margin-right: 32px;
  }
}
