.footer__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 264px));
  grid-template-rows: auto;
  grid-template-areas:
    'contacts title'
    'contacts subtitle'
    'contacts social';
  grid-column-gap: 17%;

  margin-left: 10%;
  flex-grow: 1;
}
