.up-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  right: 104px;
}

.up-button:hover {
  filter: invert(45%) sepia(84%) saturate(1878%) hue-rotate(349deg)
    brightness(101%) contrast(98%);
}

.up-button:active {
  filter: invert(21%) sepia(90%) saturate(1228%) hue-rotate(237deg)
    brightness(93%) contrast(84%);
}
