@media screen and (max-width: 768px) {
  .donation__cards {
    margin-bottom: 40px;
  }
  .donation__email {
    margin-bottom: 40px;
  }
  .donation__text {
    max-width: 608px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 425px) {
  .donation__email {
    text-align: left;
    font-size: 18px;
  }
  .donation__text {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  .donation__container {
    padding-bottom: 100px;
  }
}

.donation__text:last-of-type {
  margin-bottom: 16px;
  text-align: center;
}
