@media screen and (max-width: 1024px) {
  .subtitle {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .subtitle_position_footer {
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .subtitle_position_footer {
    text-align: center;
  }
}
