@import url('./card__img/card__img.css');
@import url('./_training/card_training.css');

.card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.card:last-of-type{
  margin-bottom: 0;
}