.popup__content {
  display: none;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 840px;
  width: 100%;
  position: relative;
  padding: 60px 16px;
  box-sizing: border-box;
}

.popup__content_is-opened {
  display: block;
}
