.footer__contacts {
  max-width: 264px;
  margin: 0;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #333235;
  grid-area: contacts;
}

.footer__contacts_type_bold {
  font-weight: bold;
  display: block;
  text-decoration: none;
}

.footer__contacts_type_bold:hover {
  text-decoration: underline;
}
