.social__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__list_position_donation {
  text-align: center;
}

.social__list_position_form {
  margin-bottom: 45px;
  text-align: center;
}

.social__list_position_footer {
  grid-area: social;
}
