@media screen and (max-width: 1024px) {
  .estimates__content {
    flex-direction: column;
    justify-content: normal;
    align-items: center;
  }
  .estimates__container {
    padding-right: 110px;
    padding-left: 110px;
  }
  .estimates__title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 660px) {
  .estimates__container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .estimates {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
