@import url('./__container/header__container.css');
@import url('./__title/header__title.css');
@import url('./__social-logo/header__social-logo.css');

.header {
  background-color: #fff;
  opacity: 0.9;
  position: fixed;
  width: 100%;
  z-index: 1;
}