@import url('./__logo/header__logo.css');
@import url('./__title/header__title.css');
@import url('./__social-logo/header__social-logo.css');

.header{
  max-width: 1240px;
  display: flex;
  margin: auto;
  position: relative;
}