.popup__submit {
  width: auto;
  height: 48px;
  padding: 0;
  border: 2px solid #9397cb;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.popup__submit_color_purple {
  background-color: #9397cb;
  color: #ffffff;
}

.popup__submit_color_white {
  color: #9397cb;
}
