.header__sahre-icon{
  display: inline-block;
  background-image: url('../../../images/share__icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 28px;
  margin: 16px 56px 0 0;
  cursor: pointer;
}

.header__sahre-icon:hover{
  filter: invert(46%) sepia(84%) saturate(1933%) hue-rotate(349deg) brightness(100%) contrast(98%);
}
